@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Margarine&family=Ribeye+Marrow&display=swap');

.start-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ปุ่ม Start */
.regame-button {
  background-image: url('./assets/StartButton.svg');
  background-position: center;
  background-size: 150%;
  letter-spacing: 1px;
  color: rgba(76, 24, 0, 1);
  font-family: "margarine";
  font-size: 60px;
  font-weight: bold;
  padding: 35px 69px;
  border-radius: 22px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  transform: scale(0.7);
}

.regame-button:hover {
  background-color: #eab308;
  filter: brightness(75%);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.result {
  font-family: "margarine";
  line-height: 1.1;
  stroke: rgb(255, 255, 255);
  font-size: 120px;
  letter-spacing: 8px;
  color: rgba(28, 101, 10, 1);
  -webkit-text-stroke: px black;
  text-shadow: 
    -4px -6px 0 rgb(255, 255, 255),  
     4px -6px 0 rgb(255, 255, 255),
    -6px  6px 0 rgb(255, 255, 255),
     6px  6px 0 rgb(255, 255, 255);
}

