@import "tailwindcss";

#root {
  max-width: 1440px;
  max-height: 1024px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hex {
  width: 90px;
  height: 78px;
  background-size: 147%;
  background-position: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.hex.player1 { background-image: url('public/assets/grass.png'); }
.hex.player2 {  background-image: url('public/assets/wood.png'); }
.hex.empty { background-image: url('public/assets/stone.png');}


.hex-grid {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  margin-top: 0px;
  grid-row-gap: 3px;
  grid-column-gap: 8px;
  justify-content: center;
  transform: scale(0.9);
}

.hex span {
  display: none;
}

.hex.player1:hover span {
  display: block;
  position: absolute;
  color: white;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
}