@import url('https://fonts.googleapis.com/css2?family=Margarine&family=Ribeye+Marrow&display=swap');

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0px;
  place-items: center;
  align-content: center;
  width: inherit;
  height: 100vh;
  background-color: #000000;
  background-image: url('public/assets/background.jpg');
  background-size: 100%;
  background-position: center;
}

h1 {
  font-family: "margarine";
  margin-top: -56px;
  stroke: black;
  font-size: 96px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: px black;
  text-shadow:
  5px  5px 0 rgba(26, 64, 13, 1);
}

h2 {
  font-family: "margarine";
  font-size: 440px;
  color: rgba(82, 38, 11, 0.7);
  line-height: 1.1;
  
}

h3 {
  font-family: "margarine";
  font-size: 32px;
  font-weight: bold;
  color: rgba(82, 38, 11, 0.7);
  line-height: 1.1;
  /* text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0 white,  
    -1px 1px 0 white,  
    10% 10% 0 white;  */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
