@import "tailwindcss";

.setup {
    background-image: url("../assets/background.svg");
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vh;
    height: 100vh;
}

.setup .div {
    background-color: transparent;
    background-position: center;
    background-size: contain;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 1440px;
    
}

.setup .overlap {
    height: 660px;
    left: 116px;
    position: absolute;
    top: 279px;
    width: 1207px;
}

.char {
    height: 220px;
    position: center;
    width: 220px;
    background-size: 100%;
    background-position: center;
    border-radius: 1000px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.char.daisy {
    margin-bottom: 240px;
    background-image: url("../assets/daisy.png") !important;
}

.char.bell {
    background-image: url("../assets/bell.png") !important;
}

.char.rose {
    margin-bottom: 240px;
    background-image: url("../assets/rose.png") !important;
}

.char.hydrangeas {
    background-image: url("../assets/hydrangeas.png") !important;
}

.char.lotus {
    margin-bottom: 240px;
    background-image: url("../assets/lotus.png") !important;
}

.setup .text-wrapper {
    color: #ffffff;
    font-family: "Margarine-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 116px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    top: 295px;
}

.setup .text-wrapper-2 {
    color: #ffffff;
    font-family: "Margarine-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 565px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    top: 319px;
}

.setup .please-choose-at {
    -webkit-text-stroke: 5px #ffffff;
    color: #b3261e;
    font-family: "Margarine-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 974px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    top: 51px;
    width: 731px;
}

.setup .rectangle {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 4px 4px #00000040;
    height: 100px;
    left: 211px;
    position: absolute;
    top: 61px;
    width: 320px;
}

.setup .player-vs-player {
    color: transparent;
    font-family: "Margarine-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 268px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    top: 179px;
}

.setup .span {
    color: #000000;
}

.setup .text-wrapper-8 {
    color: #ad94eb;
}

.setup .image {
    height: 41px;
    left: 228px;
    object-fit: cover;
    position: absolute;
    top: 175px;
    width: 32px;
}

.setup .image-2 {
    height: 41px;
    left: 482px;
    object-fit: cover;
    position: absolute;
    top: 175px;
    width: 32px;
}

.arrow-right {
    background-size: 350%;
    background-color: #b3261e00;
    height: 100px;
    width: 160px;
    background-position: center;
    background-image: url('./assets/arrow_right.png');
}

.arrow-left {
    background-size: 350%;
    background-color: #b3261e00;
    height: 100px;
    width: 160px;
    background-position: center;
    background-image: url('./assets/arrow_left.png');
}

.setup .text-wrapper-9 {
    color: #ffffff;
    font-family: "Margarine-Regular", Helvetica;
    font-size: 128px;
    font-weight: 400;
    left: 680px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 10px #00000040;
    top: 65px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #3a3f4b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}


.mode-selection {
    font-family: "Ribeye Marrow";
    font-size: 48px;
    min-width: 350px;
    height: 88px; /* กำหนดความสูงให้ปุ่ม */
    background-image: url('./assets/StartButton.svg');
    background-position: center;
    background-size: 108%;
    color: rgba(86, 71, 64, 1);
    border: 8px solid rgba(86, 71, 64, 1); /* ขอบสีน้ำตาล */
    margin: 8px;
    border-radius: 16px;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.mode-selected button.active {
    background-image: url'/assets/StartButton.svg';
}

.next-button {
    background-image: url('./assets/button.png');
    background-position: center;
    letter-spacing: 1px;
    color: rgba(76, 24, 0, 1);
    font-family: "margarine";
    font-size: 48px;
    font-weight: bold;
    padding: 3px 36px;
    border-radius: 11px;
    margin-left: 750px;
    margin-top: -80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    
}

.back-button {
    background-image: url('./assets/button.png');
    background-position: center;
    letter-spacing: 1px;
    color: rgba(76, 24, 0, 1);
    font-family: "margarine";
    font-size: 48px;
    font-weight: bold;
    padding: 3px 36px;
    border-radius: 11px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.next-button:hover {
    filter: brightness(75%);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.back-button:hover {
    filter: brightness(75%);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  }

#message {
    color: red;
    margin-top: 10px;
}

h1 {
    font-family: "margarine";
    margin-top: -120px;
    stroke: black;
    font-size: 88px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: px black;
    text-shadow:
    5px  5px 0 rgba(26, 64, 13, 1);
}

h2 {
    font-family: "margarine";
    font-size: 28px;
    color: white;
    line-height: 1.1;
    background-color: #1c650a;
    padding: 8px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 100px;
}

h3 {
    font-family: "margarine";
    font-size: 30px;
    color: darkred;
    /*background-color: #1c650a;*/
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -80px;
    
}

h4 {
    font-family: "margarine";
    font-size: 30px;
    color: darkred;
    /*background-color: #1c650a;*/
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -90px;
    -webkit-text-stroke: px rgb(255, 255, 255);
    text-shadow: 
      -2px -2px 0 rgb(255, 255, 255),
       2px -2px 0 rgb(255, 255, 255),
      -2px  2px 0 rgb(255, 255, 255),
       2px  2px 0 rgb(255, 255, 255);
}

.daimond {
    width: 90px;
    height: 78px;
    background-size: 147%;
    background-position: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin-top: -160px;
    transform: scale(1.1);
}

.daimond.higher {
    transform: scale(1.1) translateY(-45px);
}

.daimond.selected {
    background-image: url('/assets/blue.png'); }
.daimond.remain {
    background-image: url('/assets/gray.png'); }

.char:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px yellowgreen;
    background-color: rgba(153, 205, 50, 0.5);
    filter: brightness(1.05);
}
      
.char:active {
    box-shadow: 0 0 25px yellow;
    background-color: rgba(153, 205, 50, 0.5);
    filter: brightness(1.05);
}
      
.char.selected {
    box-shadow: 0 0 20px yellowgreen;
    background-color: rgba(153, 205, 50, 0.5);
    filter: brightness(1.05);
}

.character-name {
    position: absolute;
    margin-top: -60px;
    font-weight: bold;
    color: white;
    font-size: 32px;
    font-family: "margarine";
    filter: brightness(1.2);
}

.character-name.text-yellow-500 {
    color: rgb(170, 222, 65);
    text-shadow: 
    0 0 5px rgba(28, 101, 10, 1),  
    0 0 10px rgba(28, 101, 10, 1),  
    0 0 15px rgba(28, 101, 10, 1),  
    0 0 20px rgba(28, 101, 10, 1);
}