@import "tailwindcss";

.strategy {
    background-image: url("../assets/background.svg");
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#confirm {
    background-image: url('assets/StartButton.svg');
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: aliceblue;
}